filelock==3.0.12
flake8==3.8.4
pyflakes==2.2.0

# DEPS DO PYTEST
atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
iniconfig==1.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
toml==0.10.2

-r requirements.txt